<% @posts.each do |post| %>

    <tr>
        <td>
            <%=post.post_name%>
        </td>
        <td>
            <% if post.already_following?(current_user) %>
                <%= button_to "メンバー", post_relationships_path(post), class: "btn-outline-dark", method: :delete %>
            <% else %>
                <%= button_to "メンバーになる", post_relationships_path(post), class: "btn-outline-dark", method: :post %>
            <% end %>
        </td>
    </tr>
<% end %>

