<ul>
    <li><%= link_to 'ユーザーでログイン', new_user_session_path %></li>
    <li><%= link_to '管理者でログイン', new_admin_session_path %></li>
</ul>
<ul>
    <li><%= link_to 'ユーザーで新規登録', new_user_registration_path %></li>
    <li><%= link_to '管理者で新規登録', new_admin_registration_path %></li>
</ul>






