<ul>
    <li><%link_to "メンバー一覧" , managements_users_index_path%> </li>
    <li><%link_to "シフト管理" , managements_shifts_index_path%> </li>
    <li><%link_to "設定" , managements_setting_path%> </li>
</ul>